/* html {
    color-scheme: light dark;
  } */
  
  body {
      font: 100%/1.5 system-ui;
      max-width: 100ch;
      margin-inline: auto;
      padding: 0 1rem;
    }
  
  nav ul {
      display: contents; 
  }
  
  nav ul li {
      display: contents; 
  }
  
  nav {
      display: flex; 
      margin-bottom: 1rem;
      --border-color: oklch(50% 10% 200 / 40%);
      /* border-bottom-color: var(--border-color); */
      border-bottom: 1px solid oklch(80% 3% 200);
  }
  
  nav a {
      flex: 1; 
      text-decoration: none;
      color: inherit;
      text-align: center;
      padding: 0.5em
  }
  
  a.current {
    border-bottom: 0.4em solid oklch(80% 3% 200);
    padding-bottom: 0.5rem; 
  }

  :root {
    --color-accent: oklch(85% 20% 240); 
  }
  
  html {
    accent-color: var(--color-accent); 
  }
  
  nav a:hover {
    border-bottom: 0.4em solid var(--color-accent);
    background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
  }
  
  .color-scheme {
    position: absolute;
    top: 1rem; 
    right: 1rem; 
    font-size: 80%; 
    font-family: inherit; 
  }

  .term {
    position: relative;
    cursor: pointer;
    color: #0077cc;
    text-decoration: underline;
}

.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    font-size: 14px;
    max-width: 200px;
    display: none;
    z-index: 1000;
}

.tooltip.visible {
    display: block;
}

.chart-tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  pointer-events: none; /* Prevent the tooltip from blocking mouse events */
  z-index: 9999;
}

text {
  fill: black !important;
  visibility: visible !important;
}

.button-container {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 5px;
}

.music-button {
  padding: 7px 10px;
  font-size: 16px;
  background-color: lightgray;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.music-button:hover {
  background-color: #CA2E55;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
  gap: 10px; 
  align-items: center;
  justify-content: center;
}