h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
p {
    margin-left: 30px;
    text-align: left;
    line-height: 30px;
}
.container {
    display: flex;
    align-items: center;
}

.tooltip {
    font-size: 14px;
    font-weight: bold;
    color: black;
  }

  .axis-label {
    position: relative;
    z-index: 10;
  };