body{
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 0 1rem;
  }


:root {
  --color-accent: oklch(85% 20% 240); 
}

html {
  accent-color: var(--color-accent); 
}


.color-scheme {
  position: absolute;
  top: 1rem; 
  right: 1rem; 
  font-size: 80%; 
  font-family: inherit; 
}

.tooltip_bg {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  cursor: pointer; /* Makes it clear that it's interactive */
  color: black; /* Makes the word stand out */
}

.tooltip_bg .tooltiptext_bg {
  visibility: hidden;
  width: 180px;
  background-color: black;
  color: #fff;
  text-align: left;
  font-size: 1rem;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  top: 125%; /* Positions above the word */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s;
}

.tooltip_bg:hover .tooltiptext_bg {
  visibility: visible;
  opacity: 1;
}
/* .term {
  position: relative;
  cursor: pointer;
  text-decoration: underline dotted;
}

.term:hover::after {
  content: attr(data-definition); 
  position: absolute;
  bottom: 100%; 
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 0.9rem;
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease-in-out;
}

.term::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
} */

/* .term {
  position: relative;
  cursor: pointer;
  color: #0077cc;
  text-decoration: underline;
}

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  font-size: 14px;
  max-width: 200px;
  display: none;
  z-index: 1000;
}

.tooltip.visible {
  display: block;
}

.chart-tooltip {
position: absolute;
background-color: rgba(0, 0, 0, 0.7);
color: white;
padding: 5px;
border-radius: 5px;
font-size: 12px;
pointer-events: none; /* Prevent the tooltip from blocking mouse events
z-index: 9999;
}

text {
fill: black !important;
visibility: visible !important;
} */

body{
    background: #f2f2f2;
    font: 100%/1.5 system-ui;
  }
  
  /* h1 {
    font-size: 30px;
    text-align: center;
    color: rgba(255, 255, 255, .8);
    padding: 3rem;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  } */

  
